body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

.navbar a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* PAGE */

.page {
  text-align: center;
  padding: 60px 20px;
}

/* BUTTONS */

.btn {
  background: #3b82f6;
  padding: 12px 22px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  margin: 10px;
  display: inline-block;
}

.secondary {
  background: #1e293b;
}

/* CARDS */

.card {
  background: #020617;
  padding: 20px;
  margin: 15px;
  border-radius: 12px;
  display: inline-block;
}

/* DASHBOARD */

.dashboard .card {
  width: 220px;
  cursor: pointer;
}

/* CHAT */

.chat-box {
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* FORM */

.form-page input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 260px;
}

